<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1 th:replace="fragments :: heading"></h1>

<form method="post" action="signup">
    <div class="form-group">
        <label>First Name
            <input type="text" name="first-name" placeholder="Enter First Name">
        </label>
    </div>
    <div class="form-group">
        <label>Last Name
            <input type="text" name="last-name" placeholder="Enter Last Name">
        </label>
    </div>
    <div class="form-group">
        <label>Email
            <input type="email" name="email" placeholder="Enter Email">
        </label>
    </div>
    <div class="form-group">
        <label>Password
            <input type="password" name="password" placeholder="Password">
        </label>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input type="password" name="verify">
        </label>
    </div>
    <button type="submit" value="Sign-Up" class="btn btn-primary">Sign-Up</button>
</form>
</body>
</html>